<h1>Семинар 1.1</h1>

### Контакты

1. Telegram: **@DoubleMindy**
2. Почта: is.timokhin@hse.ru
3. Телефон: 89309761400

*(на случай, если нужно обратиться, но забыли имя -- ***Илья Сергеевич***)*

### Планы на модуль

1. 5 (+ 1) семинаров
2. Сдача 2 домашних заданий
3. Изучение основ Python, фреймворков работы с данными

<h3>Инструментарий</h3>

1. Python 3+

2. AnaConda (/w Jupyter) ИЛИ JupyterLab ИЛИ что угодно в формате Jupyter Notebook

3. Командная строка: **pip install...**

4. Курсы, книги, онлайн-лекции...

<h3>Домашние задания</h3>

Выкладываются в начале модуля. Как их выполнять?

**Вариант 1**: Приходить на практические занятия, выполняя поэтапно с возможностью консультаций/подсказок;
    
**Вариант 2**: Сдавать на последних практических занятиях "целое" задание, защищая работу.

<h2>Задание старосте:</h2>

   ***(Если старосты нет, назначить на месте. Если назначить не получится, выбрать через random.org)***
    
   Создать группу в TG, добавить туда *всех* студентов из подгруппы;

<h2>Задание группе:</h2>
    
   Пройти небольшое анонимое анкетирование: какие языки программирования Вы знаете? Какие технические навыки Вы имеете? Оцените свои навыки по шкале (1-5).
   
   ***Пример:*** Студент 1. Python (3), C++ (2, проходил онлайн-курс), DevOps (4), машинное обучение (2), Bash/UNIX-admin (3)...

<h1>Поговорим про Python</h1>

### Вывод значений

In [24]:
print(2)
print(2*2*2)
print(2**5)
print("I love HSE!")
print("I {} MIEM!".format("love")) # really?...

2
8
32
I love HSE!
I love MIEM!

### Переменные

In [25]:
a = int("32")
b = 333
c = int("3" + "3")
d = int(True & bool(3)) # int(True & True) = int(True) = int(1) = 1
cost1 = a * 100 + b
cost2 = c * 100 + d
totalCost = cost1 + cost2
print(totalCost // 100, totalCost % 100)

68 34

### Условия

In [26]:
foo = 42
a, b = 40, 50
print(a <= foo < b)

if not foo >= a:
    print("1")
else:
    print(str(2))

True
2

### Строки и циклы

In [27]:
s = 'The ultimate question of life, the universe, and everything'
number_of_spaces = 0
number_of_commas = 0

for c in s:
    if c == ' ':
        number_of_spaces += 1
    elif c == ',':
        number_of_commas += 1

print('Количество пробелов в строке:', number_of_spaces)
print('Количество запятых в строке:', number_of_commas)

Количество пробелов в строке: 8
Количество запятых в строке: 2

### Более сложный цикл...

In [28]:
s = 'spam, spom, spam, spam… lovely spam! wonderful spam!'
char = '!'  # символ, который нужно найти

# перебираем поочередно все символы в строке
# j это номер символа в строке, начиная с 0
j = 0
for c in s:
    if c == char:
        # если символ совпал, дальше не ищем, а сразу выходим из цикла
        print('Символ найден. Индекс:', j)
        break
    j += 1
else:
    # если символ не встретился, break не выполнится, а ветка else выполнится
    print('строка не найдена')

Символ найден. Индекс: 35

### Функции

In [29]:
# Функция foo принимает три позиционных аргумента a, b и c
def foo(a, b, c):
    return 2 * a + b * c

# вызвать функцию можно передав значения через запятую
print(foo(1, 2, 3))

# можно явно указать имена и значения
print(foo(a=3, b=2, c=5))

8
16

In [30]:
def foo(a, b, c=0):
    return a + 3 * b - 2 * c

# значения передаются поочередно, c будет равно 3
print(foo(1, 2, 3))

# если у ключевых аргументов указано значение по умолчанию,
# его можно не передавать
print(foo(1, 2))

# можно явно указывать значения у ключевых аргументов
print(foo(10, 2, c=4))

1
7
8

### Встроенные функции

In [31]:
# модуль числа
print('abs:', abs(-5))

# получение символа по коду Unicode
print('chr:', chr(1105))
# обратная chr, получения кода по символу
print('ord:', ord('D'))

# максимум, принимают хотябы два аргумента
print('max:', max(1, 20, 3, 6, 1, 0))
# минимум
print('min:', min(1, 20, 3, 6, 1, 0))

print('-' * 50)
# получение справки об объекте
print('help:', help(abs))

abs: 5
chr: ё
ord: 68
max: 20
min: 0
--------------------------------------------------
Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

help: None

### Списки

In [32]:
xs = [42, 42., 'foo_bar', [1, 2, 3], None, False]
print(f'{xs = }')
print(f'{len(xs) = }')

xs = [1, 2, 3, 4]
ys = [5, 6, 7]
print(f'{xs + ys = }')
print(f'{3 * xs = }')

xs = [42, 42.0, 'foo_bar', [1, 2, 3], None, False]
len(xs) = 6
xs + ys = [1, 2, 3, 4, 5, 6, 7]
3 * xs = [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [33]:
xs = [1, 2, 3, 4]
ys = [5, 6, 7]

xs.append(42)
print(f'(1): {xs = }')

# метод pop удобен, когда нужно использовать удаленный элемент
x = xs.pop()
print(f'(2): {x = }, {xs = }')
x = xs.pop(2)
print(f'(3): {x = }, {xs = }')

# еще один способ удалить элемент по индексу
del xs[2]
print(f'(4): {xs = }')

xs.insert(1, 196)
print(f'(5): {xs = }')

xs.extend(ys)
print(f'(6): {xs = }')

xs.reverse()
print(f'{xs = }')

(1): xs = [1, 2, 3, 4, 42]
(2): x = 42, xs = [1, 2, 3, 4]
(3): x = 3, xs = [1, 2, 4]
(4): xs = [1, 2]
(5): xs = [1, 196, 2]
(6): xs = [1, 196, 2, 5, 6, 7]
xs = [7, 6, 5, 2, 196, 1]

In [34]:
xs = [1, 3, 2, 3, 3, 4]
print(f'{4 in xs = }')
print(f'{xs.count(3) = }')
print(f'{xs.index(3) = }')

4 in xs = True
xs.count(3) = 3
xs.index(3) = 1

In [35]:
xs = list('monty_python')
print(f'{xs = }')
print(f'{xs[0] = }')
print(f'{xs[5] = }')
print(f'{xs[-1] = }')
print(f'{xs[-7] = }')

xs = ['m', 'o', 'n', 't', 'y', '_', 'p', 'y', 't', 'h', 'o', 'n']
xs[0] = 'm'
xs[5] = '_'
xs[-1] = 'n'
xs[-7] = '_'

In [36]:
xs = list('monty_python')
print(f'{xs = }')
print(f'{xs[:] = }')
print(f'{xs[::-1] = }')
print(f'{xs[:5] = }')
print(f'{xs[6:] = }')
print(f'{xs[3:7] = }')
print(f'{xs[3:8:2] = }')
print(f'{xs[4::-1] = }')

xs = ['m', 'o', 'n', 't', 'y', '_', 'p', 'y', 't', 'h', 'o', 'n']
xs[:] = ['m', 'o', 'n', 't', 'y', '_', 'p', 'y', 't', 'h', 'o', 'n']
xs[::-1] = ['n', 'o', 'h', 't', 'y', 'p', '_', 'y', 't', 'n', 'o', 'm']
xs[:5] = ['m', 'o', 'n', 't', 'y']
xs[6:] = ['p', 'y', 't', 'h', 'o', 'n']
xs[3:7] = ['t', 'y', '_', 'p']
xs[3:8:2] = ['t', '_', 'y']
xs[4::-1] = ['y', 't', 'n', 'o', 'm']

In [37]:
xs = []

for i in range(5):
    ys = []
    for j in range(i + 1):
        ys.append(j + i + 1)
    xs.append(ys)

for l in xs:
    print(l)

print(f'{xs[0][0] = }')
print(f'{xs[-1][-1] = }')

[1]
[2, 3]
[3, 4, 5]
[4, 5, 6, 7]
[5, 6, 7, 8, 9]
xs[0][0] = 1
xs[-1][-1] = 9

In [38]:
xs = [4, 3, 2, 1]

for x in xs:
    print(x)

4
3
2
1

In [39]:
xs = [4, 3, 2, 1]

for i, x in enumerate(xs):
    print(f'xs[{i}] = {x}')

xs[0] = 4
xs[1] = 3
xs[2] = 2
xs[3] = 1

### Словари

In [40]:
d = {'a': 1, 'b': 2, 'a': 42}
print(f'{d = }')

d = {'a': 42, 'b': 2}

In [41]:
d = dict.fromkeys('abc', 1)
print(f'{d = }')

print(f'{len(d) = }')
print(f'{d["a"] = }')

d["c"] = 22
print(f'{d.get("c") = }')


print(f'{"a" in d = }')
print(f'{"c" in d = }')
print(f'{"g" not in d = }')

d = {'a': 1, 'b': 1, 'c': 1}
len(d) = 3
d["a"] = 1
d.get("c") = 22
"a" in d = True
"c" in d = True
"g" not in d = True

In [42]:
d = {'a': 1, 'b': 2, 'c': 3}
print(f'{d.keys() = }')
print(f'{d.values() = }')
print(f'{d.items() = }')

d.keys() = dict_keys(['a', 'b', 'c'])
d.values() = dict_values([1, 2, 3])
d.items() = dict_items([('a', 1), ('b', 2), ('c', 3)])

In [43]:
d = {'a': 3, 'b': 2, 'c': 1}
print(f'{sorted(d.keys(), reverse=True) = }')
print(f'{sorted(d.values()) = }')
print(f'{sorted(d.items(), reverse=True) = }')

sorted(d.keys(), reverse=True) = ['c', 'b', 'a']
sorted(d.values()) = [1, 2, 3]
sorted(d.items(), reverse=True) = [('c', 1), ('b', 2), ('a', 3)]

In [44]:
d = {'a': 3, 'b': 2, 'c': 1}

# функция принимает элемент коллекции, т.е. кортеж 
# из двух элементов, и возвращает второй его элемет.
def foo(x):
    return x[0]

# сортировка пар словаря по значению
print(f'{sorted(d.items(), key=foo) = }')

sorted(d.items(), key=foo) = [('a', 3), ('b', 2), ('c', 1)]

### Tuple &  set

In [45]:
a = (1, 2, [42])
a[-1] = 0  # TypeError

TypeError: 'tuple' object does not support item assignment

In [48]:
a = (1, 2, 3, 1)
b = 3, 4

print(f'Длина: {len(a) = }')
print(f'Конкатенация: {a + b = }')
print(f'Умножение на целочисленную константу: {3 * a = }')
print(f'Индексация: {a[0] = }')
print(f'Индексация: {a[-2] = }')
print(f'Срез: {a[1::-1]}')
print(f'Индекс первого вхождения: {a.index(1) = }')
print(f'Подсчет всех вхождений: {a.count(1) = }')

Длина: len(a) = 4
Конкатенация: a + b = (1, 2, 3, 1, 3, 4)
Умножение на целочисленную константу: 3 * a = (1, 2, 3, 1, 1, 2, 3, 1, 1, 2, 3, 1)
Индексация: a[0] = 1
Индексация: a[-2] = 3
Срез: (2, 1)
Индекс первого вхождения: a.index(1) = 0
Подсчет всех вхождений: a.count(1) = 2

In [49]:
a = [42, 1, 2, 1, 3, 1, 2]
print(f'{set(a) = }')

set(a) = {3, 1, 42, 2}

In [50]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

print(f'Пересечение: {a & b = }')  # a и b должны быть типа set
# a должна быть типа set, b любой итерируемый объект, может 
# принимать любое количество аргументов.
print(f'Пересечение: {a.intersection(b) = }')
print(f'Разность: {a - b = }')

Пересечение: a & b = {3, 4}
Пересечение: a.intersection(b) = {3, 4}
Разность: a - b = {1, 2}

# Поговорим про анализ данных

### Стать программистом 300к/секунду? Очень просто:

In [54]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting numpy
  Downloading numpy-1.23.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 878.0 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: numpy
  WARNING: The scripts f2py, f2py3 and f2py3.10 are installed in '/home/alex/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.23.3

In [1]:
import numpy as np
import pandas as pd

In [2]:
data3 = pd.read_excel('data_3_course.xlsx')
data4 = pd.read_excel('data_4_course.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'data_3_course.xlsx'

In [ ]:
data3.head(3)

In [ ]:
data3.shape

In [ ]:
type(data3)

In [3]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 
                   'BBB' : [10,20,30,40], 
                   'CCC' : [100,50,'E',-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30    E
3    7   40  -50

In [4]:
data3.columns

NameError: name 'data3' is not defined

In [5]:
data3.dtypes

NameError: name 'data3' is not defined

In [6]:
data3.loc[2]

NameError: name 'data3' is not defined

In [7]:
data3['Рейтинг'].head(3)

NameError: name 'data3' is not defined

In [8]:
data3.iloc[2:4]

NameError: name 'data3' is not defined

In [9]:
data3[data3['Группа (в формате 182)'] == 182].sample(3)

NameError: name 'data3' is not defined

In [10]:
data3['new'] = 1032023002

NameError: name 'data3' is not defined

In [11]:
data3.head(2)

NameError: name 'data3' is not defined

In [ ]:
data3 = data3.drop(columns=['new'])
data3.head(2)

In [ ]:
data3['Рейтинг'].describe()

In [ ]:
data3['Рейтинг'] = data3['Рейтинг'].apply(lambda x: float(str(x).replace(',', '.')))

In [ ]:
data3['Рейтинг'].describe()

In [ ]:
data4['Рейтинг'] = data4['Рейтинг'].apply(lambda x: float(str(x).replace(',', '.')))
data4['Рейтинг'].describe()

In [ ]:
data = pd.concat([data3, data4])
data.head()

In [ ]:
data.rename(columns={'Timestamp':'timestamp',
                     'ID':'id',
                     'Рейтинг':'rating',
                     'МИ?':'is_mi',
                     'Группа (в формате 182)':'18_group',
                     'Группа (в формате 173)':'17_group',
                     'Осенний курс по выбору, приоритет 1':'fall_1',
                     'Осенний курс по выбору, приоритет 2':'fall_2',
                     'Осенний курс по выбору, приоритет 3':'fall_3',
                     'Весенний курс по выбору, приоритет 1':'spring_1',
                     'Весенний курс по выбору, приоритет 2':'spring_2',
                     'Весенний курс по выбору, приоритет 3':'spring_3',
                     'Вы заполняете анкету в первый раз?':'is_first_time',
                     'blended-курс':'blended'},
           inplace=True)

In [ ]:
data.isna().sum()

In [ ]:
data.groupby('fall_1').count()[['id', 'is_mi']]